/*.form-item {
  position: left;
  display: block;
  width: 200px;
  font-size: 80%;
  padding-top: 3px;
  clear: both;
}

.form-item label {

  float: left;
  display: inline;
  text-align: right;
}

.form-item .form-text {
  float: left;
  margin-left: 0px;
  display: inline;
  border: 1px solid #ccc;
}

.form-item .description {
  position: absolute;
  left: 10%;
  width: 200px;
  display: none;
  background-color: #caff9b;
}

.form-item .form-select {
  margin-left: 10px;
}*/

/*

#downloadfasta {
  font-size: 50%;
} 

.downloadsmenu {
  width: 100%;
  height: 50px;
}

.downloadsmenu ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style-type: none;
}

.downloadsmenu ul li {
  border-right: 1px solid #E8F1E0;
  display: inline;
  background: none repeat scroll 0 0 transparent;
  padding-left: 10px;
  padding-right: 10px;
}

.downloadsmenu li.last {
  border-right: 0px;
  display: inline;
}
*/

a#downloadfasta {
  font-size: 70%;
  margin-left: 10px; 
}

.page-query div.gene-item table.downloadsmenu {
  table-layout: auto;
  width: auto;
}

.page-query div.gene-item table.downloadsmenu tbody {
  border: none;
}

.page-query div.gene-item table.downloadsmenu tbody td {
  border: none;
  text-align: center;
}

.page-query div.gene-item table.downloadsmenu tbody tr th {
  border: none;
  text-align: center;
  padding: 0 10px 0 10px;
}

.middle-spacer {
  width: 30px;
}

table.noformat {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

table.noformat tbody {
  border-top: 0px;
}

.suggestionsBox {
  position: relative;
  left: 30px;
  margin: 10px 0px 0px 0px;
  width: 200px;
  background-color: #212427;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 2px solid #000;
  color: #fff;
}

.suggestionList {
  margin: 0px;
  padding: 0px;
}

.suggestionList li {
  margin: 0px 0px 3px 0px;
  padding: 3px;
  cursor: pointer;
}

.suggestionList li:hover {
  background-color: #659CD8;
}

table.sticky-header tr th:nth-child(n+9) {
  display: none;
}

table.sticky-header { display: none !important; } 

table.sticky-enabled tr th:nth-child(n+9) {
 /* display: none;*/
  pointer-events: none;
  cursor: default;
}

.table-results {
  padding: 2px;
  overflow-x: visible;
}

#header-group {
    overflow: hidden !important;
}

/*
.table-results, table.sticky-enabled {
      transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); 
    -webkit-transform:rotateX(180deg);
}
*/

table.sticky-enabled tr th {
  white-space: nowrap;
  padding: 2px;
}

/*
table.sticky-enabled tr td:nth-child(n+9) {
  display: none;
}
*/

table.sticky-enabled tr td:nth-child(1) {
  white-space: nowrap;
}

table.sticky-enabled tr {
  vertical-align:text-top;
  margin-bottom: 0px;
  height: 22px;
}

table.sticky-enabled ul {
  margin-bottom: 0px;
}

td.go_data ul, td.interpro ul {
  margin-bottom: 0px;
}

#columns_selector {
  text-align: justify;
}

#columns_selector:after {
    content: '';
    display: inline-block;
    width: 100%;
}

#columns_selector:before {
    content: '';
    display: block;
}

#columns_selector input {
  margin-right: 5px;
  display: inline-block;
}


#history-form table thead tr th {
  height: 24px;
  padding: 7px;
  border: 1px;
  vertical-align: middle;
  background-color: rgb(220,197,148);
  border-style: solid;
  border-width: 1px;
  border-color: #ccc !important;
  
}

#history-form table.sticky-table tbody tr td {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc !important;
  text-align: center;
  vertical-align: middle;
}

#history-form .select-all input {
  margin-right: auto;
  margin-left: auto;
}

#history-form .select-all  {
  text-align: center;
}

#history-form .options {
  float: left;
  text-align: left !important;
}

#history-form legend {
  display: none;
  border: 0;
}

#history-form fieldset {
  border: 0;
  padding: 0;
}

#results-table {
  margin: 0;
  display: none;
  border-collapse:collapse !important;
}

#results-table thead tr th {
  height: 24px;
  padding: 7px;
  border: 1px;
  vertical-align: middle;
  background-color: rgb(220,197,148);
  border-style: solid;
  border-width: 1px;
  border-color: #ccc !important;
}

#results-table tbody tr td {
  border-collapse:collapse;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc !important;
}

#results-table .species {
  width: 85px !important;
}

#results-table .gene_name {
  min-width: 85px !important;
}

#results-table .description {
  min-width: 300px !important;
}

#results-table .go_data {
  min-width: 300px !important;
}

#results-table .phi_id {
  min-width: 75px !important;
}

#results-table .phi_host {
  min-width: 55px !important;
}

#results-table .phi_cond {
  min-width: 75px !important;
}

#results-table .phi_phen {
  min-width: 80px !important;
}

#results-table .interpro {
  min-width: 80px !important;
}

#results-table .hmmpanther_pf {
  min-width: 60px !important;
}

#results-table .gene3d_pf {
  min-width: 60px !important;
}

#results-table .pfam_pf {
  min-width: 60px !important;
}

#results-table .pirsf_pf {
  min-width: 60px !important;
}

#results-table .prints_pf {
  min-width: 60px !important;
}

#results-table .blastprodom_pf {
  min-width: 60px !important;
}

#results-table .prosite_pf {
  min-width: 70px !important;
}

#results-table .smart_pf {
  min-width: 60px !important;
}

#results-table .superfamily_pf {
  min-width: 90px !important;
}

#results-table .tigrfam_pf {
  min-width: 80px !important;
}



.table-results {
  
}

.ColVis_collection li {
  height: 15px !important;
  font-size: 10px !important;
  margin-bottom: 0px !important;
}

.ColVis_Button {
  height: 24px !important;
}

#downloadlabel {
  float: left;
  margin-right: 10px;
}

#downloadlinks {
  display: inline;
  float: left;
  margin-left: 20px;
  width: 700px;
}
 
#downloadlinks-form div input {
  color: black !important;
  margin-bottom: 20px;
  display: inline;
  float: left;
  font-weight: normal !important;
}

#results-table[style] {
  width: 100% !important;
}

.table-results div.ColVis {
  float: left;
  margin-left: 100px;
}

div.header-top-inner div.inner div.content p a img {
  background-image: url('/sites/phytopathdb.org/files/images/phytopathlogo.png');
}

#results_stats {
  display: inline;
  float: left;
}

#query_introduction {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

#history_description {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

#query_introduction p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#query_print {
  font-size: 14px;
}

.form-submit {
  font-size: 13px;
}

